.answer-button {
  min-height: 48px;
  padding: 10px 20px;
  width: 100%;
  background-color: var(--modal-foreground);
  color: var(--primary-text);
  border: var(--accent) 2px solid;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.answer-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 183, 255, 0.75);
}

.correct {
  border: var(--correct) 2px solid;
}

.incorrect {
  border: var(--incorrect) 2px solid;
}

.correct:hover,
.incorrect:hover {
  transform: translateY(0);
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .answer-button {
    min-height: 30px;
    font-size: 16px;
    margin: 5px 0;
  }

  .answer-button:hover {
    transform: translateY(0px);
    box-shadow: none;
  }
}
