.circle-container {
  position: relative;
}

.progress-text {
  font-size: 16px;
  fill: var(--primary-text);
  font-weight: bold;
}

.progress-ring-circle {
  transition: 1s stroke-dashoffset ease-in-out;
  transform: rotate(-92deg);
  transform-origin: 50% 50%;
  stroke: var(--correct);
}

.progress-ring-circle.red {
  stroke: var(--incorrect);
}

.progress-ring-background {
  stroke: var(--secondary-text);
}
