/* leaderboard.component.css */

.modal.leaderboard {
  max-width: 780px;
  overflow-x: auto;
}

.leaderboard-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Styling for the Filter Button and Dropdown */
.filter-dropdown {
  position: relative;
  margin-bottom: 20px;
}

.filter-dropdown .button {
  background-color: var(--button-bg);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.filter-dropdown .dropdown-content {
  display: block;
  position: absolute;
  background-color: var(--modal-foreground);
  border-radius: 10px;
  color: white;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.603);
  z-index: 1;
}

.filter-dropdown .dropdown-content button {
  color: white;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.filter-dropdown .dropdown-content button:hover {
  background-color: var(--accent);
}

/* Leaderboard Table */
.leaderboard-table {
  width: 100%;
  background-color: var(--modal-bg);
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.leaderboard-header {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--accent);
}

.leaderboard-header span {
  padding: 10px;
}

.leaderboard-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px 0;
  border-bottom: 1px solid var(--accent); /* Visible border for each row */
}

.leaderboard-row:last-child {
  border-bottom: 1px solid var(--accent); /* Border on the last row as well */
}

.leaderboard-row span {
  padding: 10px;
  text-align: center; /* Center the text in the columns */
}

.container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data {
  margin: 40px 0;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

@media (max-width: 645px) {
  /* Adjust layout for smaller screens */
  .modal.leaderboard {
    padding: 30px 15px;
  }

  .leaderboard-table-container {
    overflow: auto;
    font-size: 0.8rem;
  }

  .leaderboard-table {
    width: max-content;
  }

  .leaderboard-header span,
  .leaderboard-row span {
    padding: 8px;
    font-size: 14px;
    padding: 5px;
  }
}
